<% title 'Free Roofing Estimate - Instant Satellite Roofing Estimates - Smart Roof' %> 
<% description 'Draw your roof to get an free estimate on your roof! Its easy and takes less than a minute' %>
<%= render "layouts/header" %>

<div class="row no-gutters">
	<div class="col-md-5 pt-5">
		<h2 class="mt-5 pl-5">Need a Roof Repair or Replacement? </h2>
		<p class="pl-5">All of our roof installers are local, pre-screened, licensed contractors.</p>
		<div class="col-md-7 mt-4 ml-5">
			<div class="input-group input-group-lg">
	      <input type="text" class="form-control" placeholder="Enter your address..." aria-label="Search for..." autofocus="">
	      <span class="input-group-btn">
	        <button class="btn btn-primary" type="button">Go!</button>
	      </span>
	    </div>

	    <button type="button" class="btn btn-outline-success">Approve</button>
			<button type="button" class="btn btn-outline-danger">Deny</button>

		</div>
	</div>
	<div class="col-md-7">
		<%= image_tag("Roof-Replacement.jpg", class: "img-fluid") %>
	</div>
</div>

