<img class="logo" src="https://i.imgur.com/uLTmoGg.png" />


	<video class="primary-video hidden-xs" style="height:100%; width:100%;" autoplay="" loop="" preload="metadata" muted poster="http://diykidshouses.com/wp-content/uploads/2017/02/beautiful-home-images-or-by-beautiful-house.jpg">
	    <source data-src="http://localhost:3000/assets/roof-replacement-e676ec4df781bbbac9c4c37a8f77e14803c86ee61dc73c89e9ecb4dc90f0e682.mp4" media="(min-width: 640px)" src="http://localhost:3000/assets/roof-replacement.mp4">
	</video>

<div class="pitch">
  <h1>Roofing Made Easy.</h1>
  <h2>Save Time & Money On A High Quality Roof.</h2>
  <div class="address">
	  <div class="col-lg-6 mx-auto">
	    <div class="input-group input-group-lg">
	      <input type="text" class="form-control" placeholder="Enter your address..." aria-label="Search for...">
	      <span class="input-group-btn">
	        <button class="btn btn-primary" type="button">Go!</button>
	      </span>
	    </div>
	  </div>
	</div>
</div>
      <div class="container">
        <h1 class="jumbotron-heading">Album example</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
        <p>
          <a href="#" class="btn btn-primary">Main call to action</a>
          <a href="#" class="btn btn-secondary">Secondary action</a>
        </p>
      </div>



    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
      </div>
    </footer>