<% title 'Free Roofing Estimate - Instant Satellite Roofing Estimates - Smart Roof' %> 
<% description 'Draw your roof to get an free estimate on your roof! Its easy and takes less than a minute' %>

<body style="background:#f4f4f4;">
<%= render "layouts/header" %>

<div class="container">
	<div class="card mt-5 mb-5">
  <div class="card-body pl-5 pr-5">

  	<h1 class="display-5 text-center mt-4 mb-5">Privacy Policy</h1>

We at SmartRoof know that you care about how your personal information is used and shared, and we take your privacy seriously.  Please read the following to learn more about our Privacy Policy.  By visiting or using the SmartRoof.io website and domain name, and any other linked pages, features, content, or any other services we offer from time to time by in connection therewith (collectively, the "Website"), you acknowledge that you accept the practices and policies outlined in this Privacy Policy, and you hereby consent that we will collect, use, and share your information in the following ways.
<br /><br />
What does this privacy policy cover?
This Privacy Policy covers our treatment of personally identifiable information ("Personal Information") that we gather when you are accessing or using our Website.  This policy does not apply to the practices of companies that we do not own or control, or to individuals that we do not employ or manage.  This policy also does not apply to information you choose to disclose publicly on the Website (i.e., information which is viewable to other Website users), which will not be considered Personal Information.
<br /><br />
What Personal Information does SmartRoof collect?
The information we gather from customers enables us to provide, personalize and improve our services and to allow our users to set up a user account and profile on the Website. For example, if you have requested an estimate, we may collect satellite images of your home (or other address you have provided).  
<br /><br />
Personal Information you provide to us:
<br /><br />
We receive and store any information you provide to us.  The types of Personal Information collected may include your first and last name, user name, mailing or physical address, email address, credit card information, IP address, and browser information.    You can choose not to provide us with certain information, but then you may not be able to take advantage of many of our special features.  We use the Personal Information you provide to market and provide our Services to you and to enhance your Website experience.
<br /><br />
Personal Information collected automatically:
<br /><br />
Whenever you interact with our Website, we automatically receive and record information on our server logs from your browser including your IP address, “cookie” information, and the page you requested.
<br /><br />
“Cookies” are identifiers we transfer to your computer through your browser that allow us to recognize your browser and tell us how and when pages in our site are visited and by how many people.  You may be able to change the preferences on your browser to prevent or limit your computer’s acceptance of cookies, but this may prevent you from taking advantage of our Website’s best features.  Our advertising partners may also transmit cookies to your computer, when you click on ads that appear on our site.  This Privacy Policy does not cover the use of cookies by any advertisers.
<br /><br />
When we collect usage information (such as the numbers and frequency of visitors to our site), we only use this data in aggregate form, and not in a manner that would identify you personally.  For example, this aggregate data tells us how often customers use parts of the Website, so that we can make the Website appealing to as many customers as possible.  We may also provide this aggregate information to our partners, so that they can understand how often people use their services and our Website, so that they, too, can provide you with an optimal online experience. We never disclose aggregate information to a partner in a manner that would identify you personally.
<br /><br />
E-mail communications:
<br /><br />
We may receive a confirmation when you open an email from us. This confirmation helps us make emails more interesting and improve our service.  If you do not want to receive email or other mail from us, please indicate your preference by contacting us at hello@smartroof.io.  
<br /><br />
Will SmartRoof share any of the Personal Information it receives?
We neither rent nor sell your Personal Information to anyone.   We share your Personal Information in personally identifiable form only as described below.   
<br /><br />
Affiliated businesses we do not control: In certain situations, businesses we’re affiliated with may sell items or provide services to you through the Website (either alone or jointly with us).  You can recognize when an affiliated business is associated with such a transaction, and we will share your Personal Information with that affiliated business only to the extent that it is related to such transaction. For example, when you retain a Service Provider to provide Third Party Services (such as a roofing job) to you through the Website, we will share your contact information with the applicable Service Provider(s) to enable them to provide you with such services.
<br /><br />
Agents: We employ other companies and people to perform tasks on our behalf and need to share your information with them to provide products or services to you.    For example, we may use a third party payment processor to process your credit card and other payment transactions through the Website, and we will share your Personal Information (including your credit card information) with such payment processor only to enable them to complete your transaction.  Unless we tell you differently, our agents do not have any right to use the Personal Information we share with them beyond what is necessary to assist us.
<br /><br />
User profiles: User Profile information, including your name, email address, and other information (“User Submissions”) may be displayed to other users if you chosen to enter such information on your User Profile, and only to the extent you’ve chosen to share it publicly with other users. For example, if you leave a review for a Service Provider on the Website, other users will be able to see that review. Again, any content (including without limitation images, captions, and comments) you voluntarily disclose for other users to view on the Website is not Personal Information; it becomes publicly available and can be collected and used by others, and may be redistributed through the internet and other media channels.
<br /><br />
Communication about the Website: As part of the Website and Services, you may receive communications from us, whether by email or other means.  We and our agents may send you email, contact you, or engage you in other communication that we or they determine relate to your use of the Website.
<br /><br />
Promotional offers: We may send offers to certain users on behalf of other businesses. However, when we do so, we do not give the other business your name and address. If you do not wish to receive these offers, please send us an email at hello@smartroof.io.
<br /><br />
Business transfers: We may choose to buy or sell assets.  In these types of transactions, customer information is typically one of the business assets that is transferred.  Also, if we (or substantially all of our assets) are acquired, or if we go out of business or enter bankruptcy, Personal Information would be one of the assets transferred to or acquired by a third party.
<br /><br />
Protection of SmartRoof and others: We may release Personal Information when we believe in good faith that release is necessary to comply with that law; enforce or apply our terms of use and other agreements; or protect the rights, property, or safety of SmartRoof, our employees, our users, or others.  This includes exchanging information with other companies and organizations for fraud protection and credit risk reduction.
With your consent: Except as set forth above, you will be notified when your Personal Information may be shared with third parties, and will be able to prevent the sharing of this information.
<br /><br />
Is Personal Information about me secure?
<br /><br />
Your User Profile is protected by a password for your privacy and security.   You need to prevent unauthorized access to your account and Personal Information by selecting and protecting your password appropriately and limiting access to your computer and browser by signing off after you have finished accessing your account.
<br /><br />
We endeavor to maintain the privacy of your User Profile and other Personal Information we hold in our records, but we cannot guarantee complete security. Unauthorized entry or use, hardware or software failure, and other factors, may compromise the security of user information at any time.

The Website may contain links to other sites. We are not responsible for the privacy policies and/or practices on other sites. When linking to another site you should read that site’s privacy policy.
<br /><br />
What Personal Information can I access?
Through your User Profile, you may access and, in some cases, change certain information you’ve provided to us.  The information you can view and update through your User Profile may change as the Website changes.  If you have any questions about viewing or updating information we have on file about you, please contact us at hello@smartroof.com.
<br /><br />
What choices do I have?
You can always opt not to disclose information to use, but keep in mind some information may be needed to take advantage of some of our special features. You may be able to add or update certain information as explained in Section V above.  When you update information, however, we may maintain a copy of the unrevised information in our records.
<br /><br />
You may request deletion of your User Profile by sending an e-mail to hello@smartroof.io.  Please note that some information may remain in our private records after deletion of your account.  
<br /><br />
If you do not wish to receive email or other mail from us, please contact us at hello@smartroof.io.   Please note that if you do not want to receive legal notices from us, such as this Privacy Policy, those legal notices will still govern your use of the Website, and you are responsible for reviewing such legal notices for changes.
<br /><br />
Changes to this privacy policy
We may amend this Privacy Policy from time to time.  Use of information we collect now is subject to the Privacy Policy in effect at the time such information is used.  If we make changes in the way we use Personal Information, we will notify you by posting an announcement on our Website or sending you an email.  You are bound by any changes to the Privacy Policy when you use the Website after such changes have been first posted.
<br /><br />
Questions or concerns
If you have any questions or concerns regarding our privacy policies, please send us a detailed message to hello@smartroof.io.  We will make every effort to resolve your concerns.
<br /><br />
Effective Date: October 1, 2017
		</div>
	</div>
</div>