<%= render "layouts/header" %>

<div class="bg-primary text-white jumbotron jumbotron-fluid mb-0">
  <div class="container text-center">
    <h1>Georgia</h1>
    <p class="lead">Hire a roofing professional that's right for you.</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid mb-0">
  <div class="container">
    <h1 class="display-4">Popular Cities in Georgia</h1>

    <div class="row mt-5">
      <div class="col-md-2">
        <ul class="list-unstyled">
            <li>
              <a class="text-dark" href="/states">Alabama</a>
            </li>
            <li>
              <a class="text-dark" href="about.html">Alaska</a>
            </li>
            <li>
              <a class="text-dark" href="services.html">Arizona</a>
            </li>
            <li>
              <a class="text-dark" href="contact.html">Arkansas</a>
            </li>
            <li>
              <a class="text-dark" href="contact.html">California</a>
            </li>
            <li>
              <a class="text-dark" href="contact.html">Colorado</a>
            </li>
            <li>
              <a class="text-dark" href="contact.html">Connecticut</a>
            </li>
            <li>
              <a class="text-dark" href="contact.html">Delaware</a>
            </li>
            <li>
              <a class="text-dark" href="index.html">Florida</a>
            </li>
          </ul>
      </div>
      <div class="col-md-2">
        <ul> 
            <li>
              <a class="text-dark" href="about.html">Georgia</a>
            </li>
            <li>
              <a class="text-dark" href="services.html">Hawaii</a>
            </li>
            <li>
              <a class="text-dark" href="contact.html">Idaho</a>
            </li>
            <li>
              <a class="text-dark" href="contact.html">Illinois</a>
            </li>
            <li>
              <a class="text-dark" href="contact.html">Indiana</a>
            </li>
            <li>
              <a class="text-dark" href="contact.html">Iowa</a>
            </li>
            <li>
              <a class="text-dark" href="contact.html">Kansas</a>
            </li>
            <li>
              <a class="text-dark" href="contact.html">Kentucky</a>
            </li>
            <li>
              <a class="text-dark" href="contact.html">Louisiana</a>
            </li>
          </ul>
      </div>
      <div class="col-md-2">
        <ul>
            <li>
              <a class="text-dark" href="index.html">Maine</a>
            </li>
            <li>
              <a class="text-dark" href="about.html">Maryland</a>
            </li>
            <li>
              <a class="text-dark" href="services.html">Massachusetts</a>
            </li>
            <li>
              <a class="text-dark" href="contact.html">Michigan</a>
            </li>
            <li>
              <a class="text-dark" href="services.html">Minnesota</a>
            </li>
            <li>
              <a class="text-dark" href="services.html">Mississippi</a>
            </li>
            <li>
              <a class="text-dark" href="services.html">Missouri</a>
            </li>
            <li>
              <a class="text-dark" href="services.html">Montana</a>
            </li>
            <li>
              <a class="text-dark" href="services.html">Nebraska</a>
            </li>
          </ul>
      </div>
      <div class="col-md-2">
        <ul>
            <li>
              <a class="text-dark" href="index.html">Nevada</a>
            </li>
            <li>
              <a class="text-dark" href="about.html">New Hampshire</a>
            </li>
            <li>
              <a class="text-dark" href="services.html">New Jersey</a>
            </li>
            <li>
              <a class="text-dark" href="contact.html">New Mexico</a>
            </li>
            <li>
              <a class="text-dark" href="services.html">New York</a>
            </li>
            <li>
              <a class="text-dark" href="services.html">North Carolina</a>
            </li>
            <li>
              <a class="text-dark" href="services.html">North Dakota</a>
            </li>
            <li>
              <a class="text-dark" href="services.html">Ohio</a>
            </li>
            <li>
              <a class="text-dark" href="services.html">Oklahoma</a>
            </li>
          </ul>
      </div>
      <div class="col-md-2">
        <ul>
            <li>
              <a class="text-dark" href="index.html">Oregon</a>
            </li>
            <li>
              <a class="text-dark" href="about.html">Pennsylvania</a>
            </li>
            <li>
              <a class="text-dark" href="services.html">Rhode Island</a>
            </li>
            <li>
              <a class="text-dark" href="contact.html">South Carolina</a>
            </li>
            <li>
              <a class="text-dark" href="services.html">South Dakota</a>
            </li>
            <li>
              <a class="text-dark" href="services.html">Tennessee</a>
            </li>
            <li>
              <a class="text-dark" href="services.html">Texas</a>
            </li>
            <li>
              <a class="text-dark" href="services.html">Utah</a>
            </li>
            <li>
              <a class="text-dark" href="services.html">Vermont</a>
            </li>
          </ul>
      </div>
      <div class="col-md-2">
        <ul>
            <li>
              <a class="text-dark" href="index.html">Virginia</a>
            </li>
            <li>
              <a class="text-dark" href="about.html">Washington</a>
            </li>
            <li>
              <a class="text-dark" href="services.html">Washington, DC</a>
            </li>
            <li>
              <a class="text-dark" href="contact.html">West Virginia</a>
            </li>
            <li>
              <a class="text-dark" href="services.html">Wisconsin</a>
            </li>
            <li>
              <a class="text-dark" href="services.html">Wyoming</a>
            </li>

          </ul>
      </div>
    </div>
  </div>
</div>

<div class="row no-gutters">
  <div class="col-md-4 pt-5">
    <h2 class="mt-5 pl-5">Need a Roof Repair or Replacement? </h2>
    <p class="pl-5">All of our roof installers are local, pre-screened, licensed contractors.</p>
    <div class="col-md-11 mt-4 ml-4">
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Enter your address..." aria-label="Search for..." autofocus="">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button">Go!</button>
        </span>
      </div>

    </div>
  </div>
  <div class="col-md-8">
    <img class="img-fluid" src="https://modernize.com/wp-content/uploads/2015/11/hero-roofreplacement.jpg" />
  </div>
</div>