$enable-transitions: true;
$body-bg: #fff;

@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lato:300, 400');


body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}
ul {
  list-style-type: none;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.7rem;
}
@media (min-width: 576px) {
    h1 {
      font-size: 2.8rem;
	  }
    h2 {
      font-size: 2rem;
    }
}
@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

header {
  padding: 154px 0 100px;
}



/*
<div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">

.bg {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/

.logo {
	width:95px;
	position:absolute;
	top:15px;
	left:17px;
	color:white;
}
.phone {
  position:absolute;
  top:15px;
  right:17px;
  color:white;
}
.phone-icon {
  position:absolute;
  top:2px;
  right:117px;
}
.navbar {
  margin-bottom: 0;
}


.address {
  position: absolute;
  top: 290px; right: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-group-lg > .form-control, .input-group-lg > .input-group-btn > .btn {
  line-height: 1.8;
}

.pitch h1 {
  position: absolute;
  top: 170px; right: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 300 !important;
}
.pitch h2 {
  position: absolute;
  top: 225px; right: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 300 !important;

}
.card {
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  box-shadow: 0 0 7px 3px hsla(0,0%,90%,.63);
}
.testimonial {
  display: block;
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
}




