<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="/">
  <%= asset_path("Smart-Roof-Logo.png", class: "smart-roof-logo") %>
</a>


  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/faq">Faq</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contractors">Contractors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>

    </ul>
    <ul class="nav navbar-nav navbar-logo mx-auto" style="width:340px;">
      <li class="nav-item">
        <a class="nav-link" style="width: 50px;" href="https://www.facebook.com/SmartRoof-139640340006503/">
          <i class="fa fa-2x fa-facebook" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="width: 50px;" href="#">
          <i class="fa fa-2x fa-houzz" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="width: 50px;" href="#">
          <i class="fa fa-2x fa-instagram" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="width: 50px;" href="#">
          <i class="fa fa-2x fa-twitter" aria-hidden="true"></i>
        </a>
      </li>

      
    </ul>
    <span class="navbar-text">
       <a href="/privacy">Privacy</a> |  <a href="/terms">Terms</a>
    </span>
  </div>
</nav>